<div><FORM METHOD="GET" ACTION="/articles/">
<INPUT TYPE="submit" VALUE="All Articles">
</FORM></div>
<form action="/articles/new" method="GET" >
   <input type="submit" value="New Article">
</form>
{{#if title}}
<div class="articles">
  <h1>Title: {{title}}</h1>
  <h2>Body: {{body}}</h2>
  <h2>Author: {{author}}</h2>
</div>
<form action="/articles/{{title}}/edit" method="GET" >
   <input type="submit" value="Edit Article">
</form>
<form action="/articles/{{urlTitle}}?_method=DELETE" method="POST" >
   <input type="submit" value="Remove Article">
</form>
{{else}}
  <h1>Article Not Found</h1>
{{/if}}