<div><FORM METHOD="GET" ACTION="/articles/">
<INPUT TYPE="submit" VALUE="All Articles">
</FORM></div>
<h1>Edit {{title}}</h1>
<form name="editArticle" id="editArticle" action="/articles/{{urlTitle}}?_method=PUT" method="POST">
{{urlTitle}}
  <label for="title">Title</label>
  <input type="text" id="title" name= "title" value={{title}}>

  <label for="body">Body</label>
  <input type="text" id="body" name= "body" value={{body}}>

  <label for="author">Author</label>
  <input type="text" id="author" name="author" value={{author}}>

  <input id= "editArticle" type="submit" value="Save Changes">
</form>
  <form action="/products/{{urlTitle}}?_method=DELETE" method="POST" >
   <input type="submit" value="Remove Article">
</form>